# this file contains the exchanges from model {{model_name_1}} to model {{model_name_2}}

begin options
{% if auxiliary is defined %}  auxiliary {{auxiliary|join(" ")}}
{% endif -%}  
{%- if print_input is defined -%}  print_input
{% endif -%}
{%- if print_flows is defined -%}  print_flows
{% endif -%}
{%- if save_flows is defined -%}  save_flows
{% endif -%}
{%- if cell_averaging is defined -%}  cell_averaging {{cell_averaging}}
{% endif -%}
{%- if variablecv is defined -%}  variablecv {%- if dewatered is defined -%}dewatered{%- endif -%}
{% endif -%}
{%- if newton is defined -%}  newton
{% endif -%}
{%- if gnc is defined -%}  gnc6 filein {{gnc}}
{% endif -%}
{%- if xt3d is defined -%}  xt3d
{% endif -%}
{%- if mvr is defined -%}  mvr6 filein {{mvr}}
{% endif -%}
{%- if obs is defined -%}  obs6 filein {{obs}}
{% endif -%}
end options
{% set nexg = layer | length %}
begin dimensions
  nexg {{nexg}}
end dimensions

begin exchangedata
# first 3 (structured) or 2 (unstructured) columns are the exchange boundary cell indices in the numbering local to {{model_name_1}}
# second 3 (structured) or 2 (unstructured) columns are the exchange boundary cell indices in the numbering local to {{model_name_2}}
# followed by columns ihc, cl1, cl2, hwva and auxiliary variables, if any
{%- for i in range(nexg) %}
  {{layer[i]}} {{cell_id1[i]|join(" ")}} {{layer[i]}} {{cell_id2[i]|join(" ")}} {{ihc[i]}} {{cl1[i]}} {{cl2[i]}} {{hwva[i]}} {%- if auxiliary_data is defined %} {{auxiliary_data.T[i]|join(" ")}}{% endif %}
{%- endfor %}
end exchangedata
