begin options
{% if auxiliary is defined %}  auxiliary{% for aux in auxiliary %} {{aux}}{% endfor %}
{% endif %}
{%- if boundnames is defined -%}  boundnames
{% endif -%}
{%- if print_input is defined -%}  print_input
{% endif -%}
{%- if print_stage is defined -%}  print_stage
{% endif -%}
{%- if print_flows is defined -%}  print_flows
{% endif -%}
{%- if save_flows is defined -%}  save_flows
{% endif -%}
{%- if stagefile is defined -%}stage fileout {{stagefile}}
{% endif -%}
{%- if budgetfile is defined -%}  budget fileout {{budgetfile}}
{% endif -%}
{%- if budgetcsv is defined -%}  budgetcsv fileout  {{budgetcsvfile}}
{% endif -%}
{%- if package_convergence_filename is defined -%} package_convergence fileout {{package_convergence_filename}}
{% endif -%}
{%- if surfdep is defined -%}  surfdep {{surfdep}}
{% endif -%}
{%- if time_conversion is defined -%}  time_conversion {{time_conversion}}
{% endif -%}
{%- if length_conversion is defined -%}  length_conversion {{length_conversion}}
{% endif -%}
end options

begin dimensions
  nlakes {{nlakes}}
  noutlets {{noutlets}}
  ntables {{ntables}}
end dimensions

begin packagedata{% for n in range(0, nlakes) %}
  {{ lakes[n].number}}  {{ lakes[n].starting_stage }}  {{ lakes[n].nconn}}  {{ lakes[n].boundname }}{% endfor %}
end packagedata

begin connectiondata{% for n in range(0, nconnect) %}
  {{connections[n].lake_no}} {{connections[n].connection_nr}} {{connections[n].cell_id_row_or_index}} {%- if connections[n].cell_id_col is not none %} {{connections[n].cell_id_col}} {%- endif %} {{connections[n].cell_id_layer}} {{ connections[n].connection_type }}  {{ connections[n].bed_leak}} {{connections[n].bottom_elevation  }}  {{ connections[n].top_elevation }}  {{connections[n].connection_width  }} {{connections[n].connection_length }}{% endfor %}
end connectiondata

{% if noutlets > 0 -%}
begin outlets{% for n in range(0, noutlets) %}
  {{outlets[n].lakein}} {{outlets[n].lakeout}} {{outlets[n].couttype}} {{outlets[n].invert}} {{outlets[n].roughness}} {{outlets[n].width}} {{outlets[n].slope}}{% endfor %}
end outlets
{% endif -%}

{% if nperiod > 0 -%}
{% for iperiod in range(0, nperiod) %}
begin period {{periods[iperiod].period_number}}{% for ivalue in range(0, periods[iperiod].nr_values) %}
  {{periods[iperiod].lake_or_outlet_number[ivalue]}}  {{periods[iperiod].series_name[ivalue]}} {{periods[iperiod].value[ivalue]}}{% endfor %}
end period
{% endfor -%}
{% endif -%}