begin options
{% if save_flows is defined %}  save_flows{% endif %}
{% if storagecoefficient is defined %}  storagecoefficient{% endif %}
end options

begin griddata
  iconvert {% if layered is sameas true %}layered{% endif %}
    {iconvert}
  ss {% if layered is sameas true %}layered{% endif %}
    {ss}
  sy {% if layered is sameas true %}layered{% endif %}
    {sy}
end griddata

{% for i, path in periods.items() %}begin period {{i}}
    open/close {{path}} (binary)
end period{% endfor %}

