begin options
{%- if print_input is defined -%}  print_input{%- endif -%}
{%- if print_flows is defined -%}  print_flows{%- endif -%}
{%- if explicit is defined -%}  explicit{%- endif -%}
end options

begin dimensions
  numgnc {{numgnc}}
  numalphaj {{numalphaj}}
end dimensions

begin gncdata
  {{cellidn}} {{cellidm}} {{cellidsj(numalphaj)}} {{alphasj(numalphaj)}}
  {{cellidn}} {{cellidm}} {{cellidsj(numalphaj)}} {{alphasj(numalphaj)}}
  ...
end gncdata

