begin options
{%- if hhformulation_rhs is defined %}
    hhformulation_rhs{% endif %}

{%- if denseref is defined %}
    denseref {{denseref}}{% endif %}

{%- if densityfile is defined %}
    densityfile fileout {{densityfile}}{% endif %}
end options

begin dimensions
    nrhospecies {{nrhospecies}}
end dimensions

begin packagedata
{%- for item in dependencies %}
    {{item["ispec"]}}  {{item["slope"]}}  {{item["reference_conc"]}}    {{item["modelname"]}}   {{item["speciesname"]}}{% endfor %}
end packagedata