begin options
{%- if storage is defined %}
  storage{% endif %}
{%- if print_input is defined %}
  print_input{% endif %}
{%- if print_stage is defined %}
  print_stage{% endif %}
{%- if print_flows is defined %}
  print_flows{% endif %}
{%- if save_flows is defined %}
  save_flows{% endif %}
{%- if stage_fileout is defined %}
  stage fileout {{stage_fileout}}{% endif %}
{%- if budget_fileout is defined %}
  budget fileout {{budget_fileout}}{% endif %}
{%- if budgetcsv_fileout is defined %}
  budgetcsv fileout {{budgetcsv_fileout}}{% endif %}
{%- if mover is defined %}
  mover{% endif %}
{%- if maximum_picard_iterations is defined %}
  maximum_picard_iterations {{maximum_picard_iterations}}{% endif %}
{%- if maximum_iterations is defined %}
  maximum_iterations {{maximum_iterations}}{% endif %}
{%- if maximum_depth_change is defined %}
  maximum_depth_change {{maximum_depth_change}}{% endif %}
{%- if length_conversion is defined %}
  length_conversion {{length_conversion}}{% endif %}
{%- if time_conversion is defined %}
  time_conversion {{time_conversion}}{% endif %}
end options

begin dimensions
  nreaches {{nreaches}}
end dimensions

