begin options
{% if print_input is defined %}  print_input{% endif %}
end options

begin dimensions
  maxhfb {{maxbound}}
end dimensions

{% for i, data in periods.items() %}begin period {{i}}
{{data}}
end period{% endfor %}