begin options
{% if print_flows is defined -%}    print_flows{%- endif -%}
{%- if save_flows is defined -%}    save_flows{%- endif -%}
end options

begin sources
    # pname          srctype           auxname
{% for name, srctype in flowboundaries.items() %}
    {{name}}   {{srctype}}   {{auxname}}
{%- endfor %}
end sources