begin options
{% if continue is defined %}  continue{% endif %}
{% if nocheck is defined %}  nocheck{% endif %}
{% if memory_print_option is defined %}  memory_print_option {{memory_print_option}}{% endif %}
end options

begin timing
  tdis6 {{tdis6}}
end timing

begin models
  {{mtype}} {{mfname}} {{mname}}
  {{mtype}} {{mfname}} {{mname}}
  ...
end models

begin exchanges
  {{exgtype}} {{exgfile}} {{exgmnamea}} {{exgmnameb}}
  {{exgtype}} {{exgfile}} {{exgmnamea}} {{exgmnameb}}
  ...
end exchanges

begin solutiongroup
{% if mxiter is defined %}  mxiter {{mxiter}}{% endif %}
  {{slntype}} {{slnfname}} {{slnmnames(:)}}
  {{slntype}} {{slnfname}} {{slnmnames(:)}}
  ...
end solutiongroup

