begin dimensions
  nrow {{nrow}}
  ncol {{ncol}}
end dimensions

begin table
  {{stage}} {{volume}} {{sarea}} {%- if barea is defined -%}{{barea}}{%- endif -%}
  {{stage}} {{volume}} {{sarea}} {%- if barea is defined -%}{{barea}}{%- endif -%}
  ...
end table

